.App {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  display: block;

  .Inputs {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    & > div {
      align-content: center;
      align-items: center;
      display: flex;
      flex: 1;

      &.pieces {
        width: 100%;
      }
    }
  }

  table {
    th {
      vertical-align: top;
      padding: 2px 10px;
    }
  }

  .ant-row {
    background: #eee;
    margin: 5px 0;
    flex-wrap: nowrap !important;
  }

  .ant-col {
    min-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 10px;

    &.unused {
      background: #999 !important;
    }
  }

  .ant-row > div:not(.gutter-row):nth-child(2n + 1),
  .ant-row > div:not(.gutter-row):nth-child(2n + 1) {
    background: rgba(0, 146, 255, 0.75);
  }
  .ant-row > div:not(.gutter-row),
  .ant-row > div:not(.gutter-row) {
    padding: 16px 0;
    background: #0092ff;
  }
}
